body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
	color: #263238;
	background: #f1f3f5;
}

.container {
    max-width: 1680px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

// Media Queries

@media screen and (min-width: 1481px) {
    .container {
        padding: 0 45px;
    }
}

@media screen and (max-width: 1480px) {
    .container {
        padding: 0 30px;
    }
}
