.header {
    padding: 1.25em 0;
    background: rgba(255, 255, 255, .95);
    .container {
        display: flex;
        align-items: center;
    }
    &__logo {
        width: 4em;
        height: auto;
        margin-right: 1em;
    }
    &__title {
        font-weight: 500;
        margin-top: -.2em;
        color: $deepblue;
    }
}