@import './variables.css';
@import './form.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ubuntu';
}

html, body {
  height: 100%;
}

body {
  background-color: var(--concrete);
}

.container {
  height: 100%;
}

.header {
  background-color: var(--mountain-meadow);
  margin-bottom: 20px;
  padding: 20px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.logo {
  height: 1em;
}

.help {
  text-decoration: none;
  color: var(--concrete);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.main__title {
  color: var(--dove-gray);
  margin-bottom: 50px;
  max-width: 600px;
  line-height: 34px;
  text-align: center;
}

.footer {
  font-size: .6rem;
  font-weight: 100;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 630px) {
  .main {
    height: auto;
    margin: 30px 0;
  }
}
