.room {

  min-width: 300px;
  max-height: 300px;
  margin: 20px auto;
  padding: 20px;
  position: relative;

  &__header {
    font-size: 0.8em;
  }

  &__message-container {
    overflow-y: auto;
    height: 70%;
  }

  &__sender {
    position: absolute;
    min-width: 300px;
    bottom: 20px;
  }

}
