.form {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

    &__fields {
        max-width: 400px;
        min-width: 400px;

        .field-group {
            display: flex;
            margin-bottom: 30px;

            .range {
              transform: translateY(11px);
            }

            .range__values {
              display: flex;
              justify-content: space-between;
            }

            .range__values span {
              font-size: .6rem;
              font-weight: 100;
            }
        }
    }
}