@import 'reset';
@import 'vars';
@import 'header';
@import 'form';
@import 'controls';
@import 'result';
@import 'footer';
@import 'mediaQueries';
@import 'main';

html,
body {
  height: 100%;
}

body {
  background-color: v(concrete);
  font-family: 'Roboto', sans-serif;

}

.container {
  height: 100%;
}


