.home {
    background-image: url('./images/default.jpg');
    background-color: #33504F;
    @include transition(background-image 2s ease-in-out);
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center;
    height: 100vh;
    &__content {
        display: flex;
        height: calc(100vh - 128px);
        justify-content: center;
        align-items: center;
        .card {
            margin-top: -128px;
            width: 50%;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $linecolor;
        padding: 1em;
        color: inherit;
        &:hover {
            background: #e8dddd;
        }
        img {
            width: 2.5em;
            margin-right: 1em;
        }
        p {
            font-size: 1.15em;
        }
    }
    &__artcredit {
        background: rgba(255, 255, 255, .85);
        font-weight: 500;
        font-size: 1em;
        display: flex;
        align-items: center;
        position: fixed;
        bottom: 1em;
        left: 1em;
        padding: .5em;
        @include border-radius(.3em);
        a {
            margin-left: .2em;
            color: $deepblue;
        }
    }
}