/**
 * Having colour names is great, but we need to create
 * some functional names for components, otherwise maintainability
 * would end up being compromised. Think of the following examples:
 *
 * If you have a button, and it has a background colour, what would
 * you prefer to use? A `--orange` variable, or something like:
 *
 * --orange: orange;
 * --button-background-colour: --orange;
 */
:root {
  --mountain-meadow: #1eb98a;
  --green-yellow: #bcf236;
  --concrete: #f2f2f2;
  --dove-gray: #616161;
  --boulder: #777;
  --emperor: #515151;
  --nobel: #b7b7b7;
  --alabaster: #fcfcfc;
  --white: #fff;
  --silver: #ccc;
  --tom-thumb: #2a492f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ubuntu';
}

html, body {
  height: 100%;
}

body {
  background-color: var(--concrete);
}

.container {
  height: 100%;
}
